* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  padding-top: 30vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.3))), url("../img/wall-image.jpg") center top;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../img/wall-image.jpg") center top;
  background-size: cover;
}

.home_content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home_greetings {
  font-size: 8rem;
  color: #49c5b6;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.home_greetings .home_greetings_period {
  color: #b974c5;
}

.home_name {
  font-size: 6rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-family: "SegoeUI";
}

.home_name--last {
  color: #49c5b6;
  font-weight: 700;
}

.home_job_title {
  font-family: "SegoeUI";
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.home_job_title_ampersand {
  color: #49c5b6;
}

.home .line {
  width: 20%;
  border-color: rgba(150, 150, 150, 0.7);
  border-width: 1px 0 0;
  clear: both;
  margin: auto;
  height: 0;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.fab {
  padding-right: 1rem;
  padding-left: 1rem;
}

.logo_image {
  width: 60px;
}

.home_greetings,
.home_name,
.line,
.home_job_title,
.home_job_title_ampersand,
.social-icons,
.about_profile_pic {
  visibility: hidden;
}

.home_greetings span,
.home_name span,
.line span,
.home_job_title span,
.home_job_title_ampersand span,
.social-icons span,
.about_profile_pic span {
  visibility: hidden;
}

.contact_me_content,
.myprojects_content,
.about_content {
  visibility: hidden;
}

.about {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-size: cover;
  background: #131313;
  padding-bottom: 100px;
}

.about_profile_pic {
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 17vh;
}

.about_profile_pic .profile_pic {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

.about_me_text {
  padding-top: 3rem;
  color: #49c5b6;
  font-size: 3rem;
}

.about_me_details {
  width: 60%;
  padding-top: 3rem;
  /*margin: 0 10rem 0 10rem;*/
  margin: auto;
  left: 0; right: 0;
  font-family: "SegoeUI";
  line-height: 30px;
}

.about_skills_text {
  padding-top: 3rem;
  color: #49c5b6;
  font-size: 3rem;
}

.about_skills_content {
  width: 80%;
  margin: auto;
  left: 0;
  right: 0;
  padding-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 2rem;
}

.about_skills_content .skills_category {
  padding-top: 1rem;
  font-family: "SegoeUI";
  text-align: left;
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 0 0 0 1rem;
}

.about_skills_content .skills_title {
  line-height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 0 0 2rem;
  font-family: "SegoeUI";
  text-align: left;
  font-size: 1rem;
  font-weight: bolder;
}

.about_services_text {
  padding-top: 5rem;
  padding-bottom: 1rem;
  /*color: #49c5b6;*/
  color: #ffffff;
  font-size: 3rem;
  color: #b974c5;
}

.about_services_offer_text {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-family: "SegoeUI";
  color: #ffffff;
}

.about_offer_holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1fr;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 70vw;
  margin: 2rem auto 0 auto;
  padding-bottom: 7vh;
}

.about_offer_holder img {
  width: 80%;
  margin: 2rem 0 0 0;
}

.about_offer_holder .offer_text {
  margin: 2rem 2rem 2rem 2rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  color: #b974c5;
}

.columns {
  font-size: 1.5rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#060606), to(#49c5b6));
  background-image: linear-gradient(to top, #060606, #49c5b6);
}

.columns_skills {
  border-bottom: 5px solid #49c5b6;
  background: #414141;
}

.two {
  border-bottom: 5px solid #b974c5;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #49c5b6;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #49c5b6;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #b974c5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn_burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn_burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background: #000000;
  list-style-type: none;
  padding-right: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav_item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav_item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav_item.active > a {
  color: #49c5b6;
}

.nav .menu-nav_link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav_link:hover {
  color: #49c5b6;
}

.menu-nav_item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-nav_item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav_item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-nav_item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

ul.menu-nav li.current a {
  color: #49c5b6;
}

.myprojects {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-size: cover;
  background: #ebeeee;
}

.myprojects_header {
  color: #49c5b6;
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.myprojects_sub_header {
  color: #000000;
  font-size: 1rem;
  font-family: "SegoeUI";
}

.myprojects_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 65vw;
  margin: 2rem auto 0 auto;
  padding-bottom: 7vh;
}

.title_below{
  font-size: 20px;
  color: #787a7a;
  font-family: "impact";
  margin-top: 20px;
}

.myprojects_item {
  position: relative;
  border-bottom: 5px solid #49c5b6;
  /*background: #fbfbfb;*/
  /*overflow: hidden;*/
  cursor: pointer;
}

.myprojects_item img {
  width: 100%;
  margin: 1rem 0 1rem 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.myprojects_item .myprojects_texts {
  color: #b974c5;
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 1rem 0;
  font-family: "SegoeUI";
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myprojects_item .myprojects_texts .title {
  font-size: 1rem;
  margin: 0 0 0 0.5rem;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.myprojects_item .myprojects_texts .category {
  font-size: 0.8rem;
  margin: 0.5rem 0 0 0.5rem;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-weight: lighter;
}

.myprojects_item .myprojects_texts .preview_btn {
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -45px;
  margin-top: -45px;
}

.myprojects_item .myprojects_texts .preview_btn a {
  color: #b974c5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.myprojects_item .myprojects_texts .preview_btn a:hover {
  /*color: #49c5b6;*/
}

.myprojects_item::after {
/*  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #181818;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;*/
}

.myprojects_item:hover::after {
  /*top: 0;*/
  /*opacity: 0.9;*/
}

.myprojects_item:hover .preview_btn,
.myprojects_item:hover .title,
.myprojects_item:hover .category {
  /*opacity: 1;*/
}

.myprojects_item:hover img {
/*  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);*/
}

.fas {
  font-size: 4rem;
}

.contact_me {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 2rem;
  background-size: cover;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#060606), to(#49c5b6));
  background-image: linear-gradient(to top, #060606, #49c5b6);
}

.contact_me_header {
  color: #fff;
  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.contact_me_messages {
  color: #fff;
  font-size: 1rem;
  padding-bottom: 1rem;
  font-family: "SegoeUI";
}

.contact_me_email {
  font-family: "SegoeUI";
  font-size: 1rem;
  padding-bottom: 1rem;
}

.contact_me_icons {
  padding-bottom: 6rem;
  padding-top: 1rem;
  color: #49c5b6;
}

.contact_me_icons a {
  padding: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact_me_icons a:hover {
  color: #b974c5;
}

@media screen and (max-width: 480px) {
  .home_greetings {
    font-size: 5rem;
  }
  .home_name {
    font-size: 3rem;
  }
  .home_job_title {
    font-size: 1rem;
  }
  .about_me_details {
    width: 85% !important;
    text-align: justify;
    /*margin: 0 2rem 0 2rem;*/
  }
  .about_skills_content .about_skills_content1 .skills_title {
    text-align: center;
    margin: auto;
  }
  .about_offer_holder,
  .myprojects_items {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .myprojects_item .myprojects_texts .title {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .logo_image {
    width: 88px;
  }
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav_item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav_link {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .myprojects_item .myprojects_texts .title {
    font-size: 1rem;
  }
  .nav .menu-nav {
    padding-right: 1rem;
  }
}

/*
 * Impact
================================================================================ */
@font-face {
  font-family: "impact";
  src: url("../fonts/impact/impact.ttf");
  font-weight: normal;
  font-style: normal;
}

/*
 * SegoeUI
================================================================================ */
@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUI/SegoeUI-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #000000;
  color: #fff;
  height: 100vh;
  font-family: "impact";
  line-height: 1;
  cursor: default;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.pace-inactive {
  display: none;
}

.pace-progress {
  background: #49c5b6;
  position: fixed;
  z-index: 900;
  top: 0;
  right: 100%;
  width: 100%;
  height: 6px;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #151515;
  z-index: 800;
  height: 100%;
  width: 100%;
  display: none;
}

.js #preloader,
.oldie #preloader {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  margin: -30px 0 0 -30px;
  padding: 0;
}

#loader:before {
  content: "";
  border-top: 11px solid rgba(255, 255, 255, 0.1);
  border-right: 11px solid rgba(255, 255, 255, 0.1);
  border-bottom: 11px solid rgba(255, 255, 255, 0.1);
  border-left: 11px solid #ff0077;
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

.text-secondary {
  color: #49c5b6;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

.logo_holder {
  position: fixed;
  top: 0;
  left: 0;
}

.opaque {
  background-color: #121212;
}

main {
  height: 100%;
  width: 100%;
}

main .social-icons {
  padding-top: 4rem;
}

main .social-icons a {
  padding: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .social-icons a:hover {
  color: #49c5b6;
}

footer {
  font-size: 1rem;
  position: relative;
  bottom: 0;
  left: 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b974c5;
  height: 10vh;
  width: 100%;
  background: #0000;
}

.footer_content {
  bottom: 1rem;
  left: 0;
  right: 0;
  position: absolute;
  font-family: "SegoeUI";
}

.upButton {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  border: none;
  outline: none;
  color: #49c5b6;
  cursor: pointer;
  padding: 15px;
  font-size: 1.5rem;
}

.upButton :hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #b974c5;
}

.upButton .upButtonClick {
  color: #49c5b6;
}
/*# sourceMappingURL=main.css.map */